.content{
margin-top: 100px;
}


.btn_remove{
    color: red;
    border: none;
    background: none;
}

.option{
    display: flex;
    justify-content: space-around;
}

.content_block{
    max-width: 90%;
    border-radius: 5px;
    background: rgba(82, 192, 228, 0.09);
    display: inline-block;
    margin: 0 10px;
    padding: 10px;
}

.pict_block{
    display: block;
    max-height: 200px;
    margin: 0 auto;
}

a.active1 {
    color: #fff;
    text-decoration: none;
    background: #337ab7;
    padding: 10px;
    border-radius: 5px;
}

li>a{
    text-decoration: none;
    padding: 10px;
}

.ul1 {
    margin-top: 0;
    margin-bottom: 10px;
    list-style-type: none;
    padding: 0;
}

.nav-stacked>li {
    float: none;
    margin-bottom: 10px;}

.nav-stacked>li>a.active{
    background: #337ab7;
    color: #fff;
}


